$hero: 'Varela Round', sans-serif;
$mainText: 'Montserrat', sans-serif;

body {
    font-family: $mainText;
}

h1 {
    font-family: $hero;
    font-size: 8rem;
    margin: 0;
    @media (max-width: 500px) {
        font-size: 14vw;
    
    }
}
