@import 'setup';
@import 'typography';
@import 'utils';

// $ronchi: #f7c248;
// $valencia: #da5257;
// $cardinal: #d4233e;
// $malibu: #81cbf5;
// $jungle-mist: #b7cbd0;
// $bleu-de-france: #3491dd;
// $eclipse: #2d181b;
// $dutch-white: #efdbbd;
// $hero: 'Varela Round', sans-serif;
// $mainText: 'Montserrat', sans-serif;

// GLOBAL STYLES
html {
    font-size: 62.5%;
}

body {
    background: url('../assets/funky-lines.png');
    color: $bleu-de-france;
    a {
        text-decoration: none;
    }
    h1 {
        color: $cocoabrown;
        text-shadow: 3px 3px $dutch-white;
    }
    input[type=radio] {
        // visibility: hidden;
        // position: absolute;
    }
}
.wrapper {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}
header,
main,
footer {
    background: white;
    padding: 3%;
    box-shadow: 5px 5px  $ronchi;
}

.divider {
    width: 70%;
    border-bottom: 3px solid $valencia;
    margin: 5% auto;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}

// HEADER STYLES
header {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-top: 5px solid $malibu;
    border-left:5px solid $malibu;
    border-right: 5px solid $malibu;
    margin-top: 5%;
    padding-bottom: .5%;
    text-align: center;
    img {
        width:150px;
        height: auto;
    }
    .hero-row {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        z-index: 1; 
        h1 {
            position: relative;
       }
        .circle {
            border: 55px solid $valencia;
            border-radius: 50%;
            position: absolute;
            z-index: -1;
            left: 45%;
            top: 15%;
        }

    }
}

// MAIN STYLES
    main {
        border-left:5px solid $malibu;
        border-right: 5px solid $malibu;
    }
    //FORM STYLES
    form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
        input[type=radio]{
            visibility: hidden;
        }
        input[type=radio] + label {
            background: url('../assets/radio-button--unchecked.png') left top no-repeat;
            padding-left: 40px;
            line-height: 2;
            display: flex;
            justify-content: flex-start;
            border-bottom: 3px solid transparent;
            transition: 0.3s all ease;
        }
        input[type=radio]:checked + label {
            background: url('../assets/paw.svg') left top no-repeat;
            background-size: 30px;
        }
        
        label:hover {
            border-bottom: 3px solid $dutch-white;
        }
        h3 {
            font-size: 3rem;
            margin: 1% 0;
        }
        label {
            font-size: 1.5rem;
        }
    }
    .question-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        text-align: left;
        width: 100%;
        img {
            width: 20%;
            height: auto;
        }
        .question-left,
        .question-right {
            display: flex;
            flex-direction: column;
            width: 50%;
            height: auto;
        }
    }



    a.btn-primary {
        padding: 1% 5%;
        background: $cardinal;
        color: white;
        box-shadow: 5px 4px $valencia;
        border-radius: 10px;
        text-align: center;
        margin: 5% auto;
        display: inline-block;
    }
// FOOTER STYLES    

footer {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-left:5px solid $malibu;
    border-right:5px solid $malibu;
    border-bottom: 5px solid $malibu;
    margin-bottom: 5%;
}