article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

body {
  font-family: "Montserrat", sans-serif; }

h1 {
  font-family: "Varela Round", sans-serif;
  font-size: 8rem;
  margin: 0; }
  @media (max-width: 500px) {
    h1 {
      font-size: 14vw; } }

html {
  font-size: 62.5%; }

body {
  background: url("../assets/funky-lines.png");
  color: #3491dd; }
  body a {
    text-decoration: none; }
  body h1 {
    color: #341F20;
    text-shadow: 3px 3px #efdbbd; }

.wrapper {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto; }

@media (max-width: 800px) {
  .wrapper {
    max-width: 85%; } }

header,
main,
footer {
  background: white;
  padding: 3%;
  -webkit-box-shadow: 5px 5px #f7c248;
  box-shadow: 5px 5px #f7c248; }

.divider {
  width: 70%;
  border-bottom: 3px solid #da5257;
  margin: 5% auto; }

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }

.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both; }

header {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-top: 5px solid #81cbf5;
  border-left: 5px solid #81cbf5;
  border-right: 5px solid #81cbf5;
  margin-top: 5%;
  padding-bottom: .5%;
  text-align: center; }
  header img {
    width: 150px;
    height: auto; }
  @media (max-width: 843px) {
    header img {
      width: 75px;
      height: auto;
      -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
      transform: rotate(-30deg);
      position: absolute;
      right: 95%; }
    header img:last-child {
      -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
      transform: rotate(30deg);
      left: 95%; } }
  @media (max-width: 550px) {
    header img {
      bottom: 10%; } }
  header .hero-row {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 1;
    width: 80%;
    margin: 0 auto; }
    header .hero-row h1 {
      position: relative; }
    header .hero-row .circle {
      border: 55px solid #da5257;
      border-radius: 50%;
      position: absolute;
      z-index: -1;
      left: 45%;
      top: 15%; }
      @media (max-width: 1044px) {
        header .hero-row .circle {
          display: none; } }

main {
  border-left: 5px solid #81cbf5;
  border-right: 5px solid #81cbf5; }

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  form input[type=radio] {
    visibility: hidden; }
  form input[type=radio] + label {
    background: url("../assets/radio-button--unchecked.png") left top no-repeat;
    padding-left: 40px;
    line-height: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
    border-bottom: 3px solid transparent;
    position: relative; }
  form input[type=radio] + label:hover {
    text-decoration: underline; }
  form input[type=radio]:checked + label {
    background: url("../assets/paw.svg") left top no-repeat;
    background-size: 30px; }
  form h3 {
    font-size: 3rem;
    margin: 20px 0; }
  form label {
    font-size: 1.5rem; }

.question-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
  width: 100%; }
  .question-container .question-left,
  .question-container .question-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 50%;
    height: auto;
    margin-bottom: 20px; }
  @media (max-width: 600px) {
    .question-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .question-container .question-left,
      .question-container .question-right {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        width: 100%; }
        .question-container .question-left h3,
        .question-container .question-right h3 {
          text-align: center; }
      .question-container img {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1; } }
  .question-container img {
    width: 20%;
    height: auto; }

input.btn-primary {
  padding: 20px 5%;
  margin-top: 50px;
  font-size: 1.6rem;
  text-transform: uppercase;
  border: none;
  background: #d4233e;
  color: white;
  border-radius: 20px;
  -ms-flex-item-align: center;
  align-self: center;
  display: inline-block;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease; }
  @media (max-width: 409px) {
    input.btn-primary {
      width: 50%;
      white-space: normal; } }

input.btn-primary:hover {
  -webkit-box-shadow: 8px 8px #e37c80;
  box-shadow: 8px 8px #e37c80; }

.results {
  text-align: center;
  width: 80%;
  margin: 50px auto;
  font-size: 1.6rem; }
  .results h2 {
    font-family: "Varela Round", sans-serif;
    color: #341F20;
    font-size: 3rem;
    text-shadow: 2px 2px #efdbbd; }
  .results i {
    font-size: 3rem;
    color: #d4233e;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease; }
  .results i:hover {
    color: #f7c248; }
  .results img {
    border-radius: 20px; }
    @media (max-width: 660px) {
      .results img {
        width: 100%; } }

footer {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-left: 5px solid #81cbf5;
  border-right: 5px solid #81cbf5;
  border-bottom: 5px solid #81cbf5;
  margin-bottom: 5%;
  text-align: center; }
  footer img {
    width: 100px; }
  footer h4 {
    margin-top: 0; }
  footer a {
    color: #8bc0ec;
    font-weight: bolder; }
  footer a:hover {
    color: #0e3351; }
