@import 'setup';
@import 'typography';
@import 'utils';

// $ronchi: #f7c248;
// $valencia: #da5257;
// $cardinal: #d4233e;
// $malibu: #81cbf5;
// $jungle-mist: #b7cbd0;
// $bleu-de-france: #3491dd;
// $eclipse: #2d181b;
// $dutch-white: #efdbbd;
// $hero: 'Varela Round', sans-serif;
// $mainText: 'Montserrat', sans-serif;

// GLOBAL STYLES
html {
    font-size: 62.5%;
}

body {
    background: url('../assets/funky-lines.png');
    color: $bleu-de-france;
    a {
        text-decoration: none;
    }
    h1 {
        color: $cocoabrown;
        text-shadow: 3px 3px $dutch-white;
    }
    input {
        visibility: hidden;
    }
}
.wrapper {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}
header,
main,
footer {
    background: white;
    padding: 3%;
    box-shadow: 5px 5px  $ronchi;
}


// HEADER STYLES
header {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-top: 5px solid $malibu;
    border-left:5px solid $malibu;
    border-right: 5px solid $malibu;
    margin-top: 5%;
    text-align: center;
    img {
        width:10%;
    }
}

// MAIN STYLES
    main {
        border-left:5px solid $malibu;
        border-right: 5px solid $malibu;
    }
    //FORM STYLES
    .question-left,
    .question-right {
        display: flex;
        flex-direction: column;
        width: 70%;
    }

    a.btn-primary {
        padding: 1% 5%;
        background: $cardinal;
        color: white;
        box-shadow: 5px 4px $valencia;
        border-radius: 10px;
        text-align: center;
        margin: 5% auto;
        display: inline-block;
    }
// FOOTER STYLES    

footer {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-left:5px solid $malibu;
    border-right:5px solid $malibu;
    border-bottom: 5px solid $malibu;
    margin-bottom: 5%;
}